In [1]:
from statsmodels.regression.rolling import RollingOLS
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import datetime as dt
import yfinance as yf
import pandas_ta
import warnings
warnings.filterwarnings('ignore')

In [2]:
bsesn = pd.read_html("https://en.wikipedia.org/wiki/BSE_SENSEX")[1]
symbols_list = bsesn['Symbol'].tolist()

In [3]:
symbols_list

['ASIANPAINT.BO',
 'AXISBANK.BO',
 'BAJAJ-AUTO.BO',
 'BAJFINANCE.BO',
 'BAJAJFINSV.BO',
 'BHARTIARTL.BO',
 'DRREDDY.BO',
 'HCLTECH.BO',
 'JSWSTEEL.BO',
 'HDFCBANK.BO',
 'HINDUNILVR.BO',
 'ICICIBANK.BO',
 'INDUSINDBK.BO',
 'INFY.BO',
 'ITC.BO',
 'KOTAKBANK.BO',
 'LT.BO',
 'M&M.BO',
 'MARUTI.BO',
 'NESTLEIND.BO',
 'NTPC.BO',
 'ONGC.BO',
 'POWERGRID.BO',
 'RELIANCE.BO',
 'SBIN.BO',
 'SUNPHARMA.BO',
 'TCS.BO',
 'TECHM.BO',
 'TITAN.BO',
 'ULTRACEMCO.BO']

In [4]:
end_date = '2023-12-11'
start_date = pd.to_datetime(end_date) - pd.DateOffset(365*8)
daily_df = yf.download('JSWSTEEL.BO', start = start_date, end = end_date)

[*********************100%%**********************]  1 of 1 completed

In [5]:
daily_data= 'daily_df_jsw.csv'
daily_df.to_csv(daily_data)

In [7]:
intraday_5min_df = yf.download('JSWSTEEL.BO', start = '2023-10-13', end = '2023-12-11', interval='5m')

[*********************100%%**********************]  1 of 1 completed

In [8]:
daily_data= 'daily_5min_jswdf.csv'
intraday_5min_df.to_csv(daily_data)

In [9]:
daily_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-12-14,97.599998,102.900002,96.794998,102.195000,95.477341,3381750
2015-12-15,102.500000,102.650002,100.410004,101.400002,94.734596,874510
2015-12-16,101.500000,102.864998,100.000000,100.870003,94.239433,923440
2015-12-17,101.474998,105.199997,101.375000,104.449997,97.584099,1689610
2015-12-18,104.305000,104.635002,102.300003,103.279999,96.491013,1146640
...,...,...,...,...,...,...
2023-12-04,815.150024,823.000000,812.000000,819.299988,819.299988,215190
2023-12-05,819.250000,826.000000,814.150024,821.700012,821.700012,35071
2023-12-06,822.000000,833.400024,815.299988,824.549988,824.549988,209850
2023-12-07,825.150024,830.750000,817.950012,819.349976,819.349976,33640
2023-12-08,822.000000,853.099976,822.000000,839.349976,839.349976,433712

In [10]:
intraday_5min_df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-10-13 09:15:00+05:30,777.700012,780.150024,776.650024,777.750000,777.750000,4324
2023-10-13 09:20:00+05:30,776.650024,779.000000,776.000000,777.250000,777.250000,2931
2023-10-13 09:25:00+05:30,777.250000,779.700012,776.900024,779.700012,779.700012,971
2023-10-13 09:30:00+05:30,779.599976,779.599976,778.500000,778.500000,778.500000,796
2023-10-13 09:35:00+05:30,778.500000,779.299988,778.500000,779.299988,779.299988,237
...,...,...,...,...,...,...
2023-12-08 15:05:00+05:30,839.250000,840.000000,837.900024,839.250000,839.250000,28648
2023-12-08 15:10:00+05:30,839.250000,840.000000,838.200012,839.099976,839.099976,14257
2023-12-08 15:15:00+05:30,839.099976,840.000000,838.250000,839.049988,839.049988,16002
2023-12-08 15:20:00+05:30,839.049988,839.799988,838.349976,838.799988,838.799988,2077
2023-12-08 15:25:00+05:30,838.900024,839.750000,838.750000,839.349976,839.349976,1339